<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTBU-人工智能平台</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body>
<div class="container">
    <!-- 左侧部分 -->
    <div class="left-side">
        <h1>CTBU-人工智能平台</h1>
    </div>

    <!-- 中间部分 -->
    <div class="center">
        <div class="chat-box" id="chat-output"></div>
        <div class="input-box">
            <input type="text" id="user-input" placeholder="给小U发消息">
            <button onclick="sendMessage()" id="send-button">
                <img src="{{ url_for('static', filename='send.svg') }}" alt="Send">
            </button>
        </div>
    </div>

    <!-- 右侧部分 -->
    <div class="right-side">
        <div class="custom-select-wrapper">
            <select id="model-selector" disabled>
                <option value="chatglm-6b" selected>ChatGLM-6B</option>
<!--                <option value="gpt2">GPT-2</option>-->
<!--                <option value="cpm_generate">CPM Generate</option>-->
            </select>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
